<h1>Edit</h1>

　<%= form_with model: @book, url: update_book_path(@book.id), method: :patch do |f| %>
　
　<h4>title</h4>
　<%= f.text_field :title %>
　
　<h4>body</h4>
　<%= f.text_area :body %>
　
<%= f.submit '保存' %>

<% if @book.errors.any? %>
   <%= @book.errors.count %>  errors prohibited this book from being saved
    <ul>
     <% @book.errors.full_messages.each do |message| %>
       <li><% message %></li>
    </ul>

<% end %>
