<strong>Title:</strong>
 <p><%= @book.title %></p>
 
<strong>body:</strong>
 <p><%= @book.body %></p>
 
 <%= link_to "back", "/books" %>
  | 
<%= link_to "Edit", edit_book_path(@book.id) %>
<!--<%= link_to "Destory", book_path(@book.id), method: :delete %>-->